<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-right">



      <div class="col-xs-12 col-sm-9">
        <div class="jumbotron">
          <h1>Welcome to the Flatiron Store!</h1>
          <p>This is an example to show some rails 'n shit.</p>
        </div>
        <div class="row">
        <% @items.each do |item| %>
          <div class="col-xs-6 col-lg-4"><h5> <%= item.title %> </h5> <p> <%= number_to_currency(price_to_currency(item.price)) %> </p><p> <%= button_to 'Add to Cart', line_items_path(item_id: item), class: "btn btn-success" %></p></div>
        <% end %>
        </div>
      </div>

        <div class="col-xs-12 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
            <% @categories.each do |category| %>
              <%= link_to category.title, category_path(category), class: "list-group-item" %>
            <% end %>
          </div>
        </div>

    </div>
  </div>
